body {
  display: flex;
  justify-content: center;
}
.gallery {
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1130px;
}
.gallery-item {
  transition: transform 0.3s;
}
.gallery-item:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
}
.gallery-image {
  border-radius: 4px;
}

.sl-wrapper.simple-lightbox .sl-navigation button,
.sl-wrapper.simple-lightbox .sl-close,
.sl-wrapper.simple-lightbox .sl-counter {
  color: #fff;
}

body .sl-overlay {
  background: rgba(46, 47, 66, 0.8);
}
